.root {
    -fx-background-color: #212121;
    -fx-border-color: #444444;
    -fx-border-radius: 18px;
    -fx-border-width: 2px;
    -fx-background-radius: 18px;
    -fx-pref-width: 900px;
    -fx-pref-height: 600px;
    -fx-padding: 10px;
}

.app-title {
    -fx-text-fill: #bdbdbd;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12px;
}

.app-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 16px;
}

.app-close-btn:hover {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #ff4444;
    -fx-cursor: hand;
}

.app-minimize-btn:hover {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #ececec;
    -fx-cursor: hand;
}

.encourage-container {
    -fx-pref-width: 450px;
}

.encourage-title {
    -fx-pref-width: 300px;
    -fx-text-fill: white;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 27px;
    -fx-font-weight: 900;
}

.form-container {
    -fx-pref-width: 450px;
    -fx-background-radius: 24px;
    -fx-padding: 10px;
    -fx-background-color: linear-gradient(to right, #141414, #0a0a0a);
}

.form-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.form-subtitle, .no-account-label {
    -fx-text-fill: #9ca3af;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
    -fx-font-weight: 700;
}

.sign-up-label {
    -fx-text-fill: #a855f7;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
    -fx-font-weight: 700;
    -fx-cursor: hand;
}

.input-info-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12px;
    -fx-font-weight: 600;
}

.login-input {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-background-color: #1a1a1a;
    -fx-border-color: #374151;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Light";
}

.forgot-passwd-label {
    -fx-pref-width: 300px;
    -fx-text-fill: #a855f7;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 13px;
    -fx-font-weight: 600;
    -fx-cursor: hand;
}

.forgot-passwd-label:hover {
    -fx-text-fill: #c084fc;
}

.submit-btn {
    -fx-background-color: linear-gradient(to right, #7e22ce, #581c87);
    -fx-background-radius: 12px;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-font-size: 18px;
    -fx-font-family: "Roboto Thin";
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.submit-btn:hover {
    -fx-background-color: linear-gradient(to right, #9333ea, #6b21a8);
}
