.playlists-box {
    -fx-padding: 10px;
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 16px;
    -fx-vgap: 20px;
}

.first-row {
    -fx-alignment: center;
    -fx-spacing: 100px;
    -fx-padding: 4px 4px 4px 10px;
}

.first-row Label {
    -fx-text-fill: #eeeeee;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Thin";
    -fx-font-weight: 700;
}

.first-row Button {
    -fx-background-color: #282828;
    -fx-background-radius: 36px;
    -fx-padding: 7px 13px;
    -fx-text-fill: #eeeeee;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Thin";
    -fx-font-weight: 700;
    -fx-transition: all 0.8s ease;
}

.first-row Button:hover {
    -fx-background-color: #1e112a;
    -fx-cursor: hand;
}

.second-row {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.second-row Button {
    -fx-background-color: #424242;
    -fx-background-radius: 36px;
    -fx-padding: 7px 13px;
    -fx-text-fill: #eeeeee;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Thin";
    -fx-font-weight: 700;
    -fx-transition: all 0.8s ease;
}

.second-row Button:hover {
    -fx-background-color: #1e112a;
    -fx-cursor: hand;
}

.third-row {
    -fx-padding: 10px 0px 10px 0px;
    -fx-spacing: 10px;
}

.playlist-card {
    -fx-background-color: #424242;
    -fx-background-radius: 8px;
    -fx-padding: 7px 13px;
    -fx-transition: all 1.2s ease;
}

.playlist-card:hover {
    -fx-background-color: linear-gradient(to right, #0A0A0A, #5c2091);
    -fx-effect: dropshadow(three-pass-box, rgba(135, 136, 136, 0.4), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.playlist-name-label {
    -fx-text-fill: #eeeeee;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: 700;
}

.playlist-author-label {
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 12px;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: 600;
}

